<!-- footer -->
{% load static %}
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<div class="footer-logo">
					<img style="" src="{% static 'main/img/logo.png' %}"/>
{#					<img style="max-width: 100px; height: 100px" src="https://raw.githubusercontent.com/internyuva/internyuva/master/static/main/img/InternYuvaResized.png"/>#}

				</div>
				<div class="about-data">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-12 mt-4 mt-md-0">
				<h3 class="footer-links">
					Useful Links
				</h3>
				<div class="row quick-links">
					<div class="col-12 mb-4">
						<a href="#"><i class="fal fa-chevron-double-right mr-2"></i>Home</a>
					</div>
					<div class="col-12 mb-4">
						<a href="#"><i class="fal fa-chevron-double-right mr-2"></i>Product</a>
					</div>
					<div class="col-12 mb-4">
						<a href="#"><i class="fal fa-chevron-double-right mr-2"></i>About Us</a>
					</div>
					<div class="col-12 mb-4">
						<a href="#"><i class="fal fa-chevron-double-right mr-2"></i>Contact Us</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mt-4 mt-md-5 mt-lg-0">
				<h3 class="footer-links">
					Contact
				</h3>
				<div class="contact-info">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua. Ut.</p>
	                <ul>
	                  <li class="pt-0">
	                    <a href="mailto:info@learning.com"><span><i class="far fa-envelope mr-3"></i> info@learning.com</span></a>
	                  </li>
	                  <li>
	                    <a href="tel:+12 3456 7890"><span><i class="fal fa-phone-alt mr-3"></i> +12 3456 7890</span></a>
	                  </li>
					</ul>
	            </div>
	        </div>
            {% comment %}
	        <div class="col-lg-3 mt-4 mt-md-5 mt-lg-0">
				<h3 class="footer-links">
					Follow Us
				</h3>
				<div class="social-links">
	                <ul class="d-flex">
	                  <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
	                  <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
	                  <li><a href="#" target="_blank"><i class="fab fa-skype"></i></a></li>
	                  <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
	                </ul>
	            </div>
			</div>
			{% endcomment %}
		</div>
	</div>
</footer>

<!-- signup Modal -->

<script src="{% static 'main/js/custom.js' %}"></script>

