{% extends 'main/base.html' %}

{% block style %}
  <style>
  	@media only screen and (max-width: 554px){
  	.vid-wid{
  		width: 250px;
  	}
  }
  </style>
{% endblock %}

{% block content %}

{#    <section class="page-title">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 pt-0 pt-lg-5">#}
{#                    <div class="text-center pt-0 pt-lg-5">#}
{#                        <h2 class="text-white">Courses</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

<!-- banner -->


    <section class="contact-data">
        <div class="container">
            <div id="contact-bg" class="row mt-5">
                {% for obj in objects %}
                    <div class="col-lg-6">
                    <br>
                        <br>
                        <br>
                        <div class="contact-box text-center mb-5 mb-lg-0">
                            <div class="contact-icon mb-4">
                                <div class="course-img">
									<img src="{{ obj.thumbnail.url }}">
								</div>
                                <br>
                                <h5>{{ obj.name }}</h5>
                            </div>
                            <div class="course-btn">
                                <a href="{{ obj.get_product_absolute_url }}" class="theme-btn">
                                    <i class="fas fa-play-circle mr-2" aria-hidden="true"></i>
                                    <span>view product</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    {% empty %}
                <h3 style="color: black">Your Group Members Didn't List the Products</h3>
                {% endfor %}
            </div>

		</div>
</section>
{% endblock %}