{% extends 'main/base.html' %}

{% block style %}
  <style>
  	@media only screen and (max-width: 554px){
  	.vid-wid{
  		width: 250px;
  	}
  }
  </style>
{% endblock %}

{% block content %}

{#    <section class="page-title">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 pt-0 pt-lg-5">#}
{#                    <div class="text-center pt-0 pt-lg-5">#}
{#                        <h2 class="text-white">Requests</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <div style="color: black" class="text-center pt-0 pt-lg-5">
        <h2>{{ object.product_name }}</h2>
        <h4>{{ object.product_desc }}</h4>
        <h5>{{ object.request_in_brief }}</h5>
        <a class="btn btn-outline-primary">RESPOND</a>
    </div>



{% endblock %}